<mat-toolbar>
  <span>Async Dataflow</span>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Requests">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">sync_alt</mat-icon>
      Requests
    </ng-template>
    <app-requests></app-requests>
    <app-logs></app-logs>
  </mat-tab>
  <mat-tab label="Settings">
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">settings</mat-icon>
      Settings
    </ng-template>
    <app-settings></app-settings>
  </mat-tab>
</mat-tab-group>


<router-outlet />