<div class="log-container">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Captured Requests</mat-card-title>
            <div class="indicator" [ngClass]="{'active': connected(), 'inactive': !connected()}"> </div>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Response Delay</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi" [(ngModel)]="delay">
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button (click)="generateRequest()">send request</button>
                <button mat-raised-button (click)="connect()">connect</button>
                <button mat-raised-button (click)="reconnect()">reconnect</button>
                <button mat-raised-button (click)="disconnect()">disconnect</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="log-container">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Captured Requests</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div id="console" class="console">
                <div *ngFor="let log of results" [ngClass]="log.type">
                    <mat-icon [ngClass]="log.type == 'out' ? 'arrow_upward' : 'arrow_downward'">
                        {{log.type == 'out' ? 'arrow_upward' : 'arrow_downward'}}
                    </mat-icon>{{ log.message }}
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="cleanRequests()"><mat-icon>delete_forever</mat-icon>
                Clear Requests</button>
            <button mat-button (click)="copyToClipboard()">
                <mat-icon>content_copy</mat-icon>Copy Requests
            </button>
        </mat-card-actions>
    </mat-card>
</div>