name: Deploy Async DataFlow channel sender Dart client

on:
  push:
    tags:
      - 'channel_sender_client_*' # Push events to matching chanjs_*, i.e. chanjs_0.2.0
jobs:
  publish:
    name: 'Publish to pub.dev'
    environment: pub.dev
    permissions:
      id-token: write
    defaults:
      run:
        working-directory: clients/client-dart
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
      - name: Setup Flutter
        uses: bancolombia/flutter-setup-action@v1.1
        with:
          channel: 'stable'
          flutter-version: '3.35.0'
      - name: Install dependencies
        run: dart pub get
      - name: Publish to pub.dev
        run: dart pub publish -f